# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
coverage/
dist/

# dependencies
node_modules/

# misc
*.sqlite
*.DS_Store
.eslintcache
.jest-cache/

# logs
log/
*npm-debug.log
